<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Default Risk Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-page">
    <div>
        <!-- 页面标题 -->
        <h1 class="art-title">Default Risk Analysis</h1>
        
        <!-- 进入按钮 -->
        <a href="{{ url_for('index') }}" class="enter-button">Discover</a>
    </div>

    <!-- 页面底部 -->
    <footer>
        <p>
            &copy; 2024 Sichuan University.
        </p>
    </footer>
</body>
</html>
